{% extends "base.html" %}

{% block content %}

<form action="/sneakers" method="post">
  
  <div>
    <label for="brand">BRAND</label>
    <select id="brand" name="brand_id">
      {% for brand in all_brands %}
        <option value="{{ brand.id }}">{{ brand.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div>
    <label for="model">MODEL</label>
    <input type="text" id="model" name="model" placeholder="ENTER MODEL" required>
  </div>

  <div>
    <label for="price">PRICE</label>
    <input type="number" id="price" name="price" placeholder="ENTER PRICE" required>
  </div>

  <div>
    <label for="image_url">IMAGE URL</label>
    <input type="text" id="image_url" name="image_url" placeholder="COPY & PASTE IMAGE ADDRESS HERE" required>
  </div>

  <div>
    <label for="listed">LISTED</label>
    <select id="listed" name="listed">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>

  <button class="activate__one" type="submit">ADD SNEAKER</button>

</form>

{% endblock %}
