{% extends "base.html" %}

{% block content %}

  <div>
    <div class="show__layout">
      <div class="sneaker_tile">
      <img src="{{sneaker.image_url}}">
      <p>{{sneaker.brand.name}}</p>
      <p>{{sneaker.model}}</p>
      <p>£{{sneaker.price}}</p>
       <p>listed? {{sneaker.listed}}</p>  
      <p><a href="/sneakers/{{sneaker.id}}/edit">Edit</a></p>
      </div>
    </div>
  </div>

{% endblock %}

<!-- <div>
  <p>{{sneaker.model}}</p>
  <p>{{sneaker.brand.name}}</p>
  <p>£{{sneaker.price}}</p>
  <p>listed? {{sneaker.listed}}</p>  
  <p><a href="/sneakers/{{sneaker.id}}/edit">Edit</a></p>
</div> -->