.background__image {
  background-image: url("/static/assets/sneaker_boxes_v2.jpg");
  position: relative;
  background-size: cover;
  min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    background: black
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 50px;
}

.container {
  padding: 50px;
}


input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  
.trash-button{
  display: contents;
  font-size: 50%;
}


.delete-form{
  display: inline;
}

.menu{
  display: flex;
  padding: 10px;
  background-color: rgb(165, 165, 165);
  color: white;
}

.menu li a{
  text-decoration: none;
}

.menu li a:visited{
  color: white;
}

.menu li{
  padding-right: 10px;
  list-style: none;
  color: white;
  font-family: "Helvetica", arial, sans-serif; font-size: 14px;
}

.sneakers_container{
  display: flex;
  flex-wrap: wrap;
}

.sneaker_tile{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
}

.sneaker_tile img{
  max-width: 200px;
}

#navbar__logo {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 20px;
    background: white;
    color: black;
}

.button:hover {
    background: orange;
    transition: all 0.3s ease;
}
.activate__one {
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
 }
 
.activate__one:hover {
  letter-spacing: 3px;
  background-color: rgb(0, 0, 0);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
 }
 
.activate__one:active {
  letter-spacing: 3px;
  background-color: rgb(0, 0, 0);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(0 0 0) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
 }

 .show__layout {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
