<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>SneakerBox</title>
</head>
<body>
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo">SNEAKERBOX</a>   
        <ul class="navbar__menu">
          <li class="navbar__item">
            <a href="/" class="navbar__links">HOME</a>
          </li>
          <li class="navbar__item">
            <a href="/sneakers" class="navbar__links">SNEAKERBOX</a>
          </li>
          <li class="navbar__btn">
            <a href="/sneakers/new" class="button">ADD SNEAKER</a>
          </li>
        </ul>
    </div>
  </nav>  
</header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
